CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
libmcsapi/CMakeFiles/
libmcsapi/Makefile
libmcsapi/cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
avro-prefix/
third-party/
src/libmcsapi.a
*.swp
example/basic_bulk_insert
example/advanced_bulk_insert
install_manifest*.txt
src/libmcsapi.so*
python/pymcsapi*.so*
python/setup.py
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
test/CTestTestfile.cmake
test/version
test/commit
test/chained
test/million-row
test/dataconvert-int
test/dataconvert-double
test/dataconvert-string
test/dataconvert-datetime
test/dataconvert-decimal
test/dataconvert-null
test/bad-usage
test/truncation
test/summary
test/system-catalog
test/char4
version.h
docs/conf.py
docs/sources.cmake
docs/_doctrees/
docs/_sources/
docs/_pdfsources/
docs/html/
docs/pdf/
libmcsapi.pc
cmake_uninstall.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
mariadb-*.rpm
mariadb-*.deb

# QtCreator files
*.config
*.creator
*.creator.user
*.files
*.includes
# Ignore diffs
*.diff
