python/python2/pymcsapi.i
python/python3/pymcsapi.i
cmake/cpack_windows/*.wxs
cmake/cpack_windows/*.wxs.cf
cmake/cpack_windows/product_fragment.patch
cmake/cpack_windows/features.patch
java/test/columnstore-*
.pytest_cache
.gradle
*.pyc
.cache
spark-connector/scala/src/main/resources/com/mariadb/columnstore/api/connector/resources/mcsapi_reserved_words.txt
spark-connector/python/spark-warehouse
spark-connector/python/test/.cache
spark-connector/python/sparkPythonMcsapiConnector.pyc
spark-connector/scala/spark-warehouse
spark-connector/scala/.gradle
spark-connector/scala/build
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
libmcsapi/CMakeFiles/
libmcsapi/Makefile
libmcsapi/cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
avro-prefix/
third-party/
src/libmcsapi.a
*.swp
example/basic_bulk_insert
example/advanced_bulk_insert
example/CpImport/.gradle
install_manifest*.txt
src/libmcsapi.so*
python/_pymcsapi*.so*
python/__init__.pyc
__pycache__/
python/MANIFEST
python/python2/pymcsapi.py
python/python2/pymcsapi.pyc
python/python2/pymcsapi_wrap.cxx
python/python3/pymcsapi.py
python/python3/pymcsapi.pyc
python/python3/pymcsapi_wrap.cxx
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
test/CTestTestfile.cmake
test/version
test/commit
test/chained
test/million-row
test/dataconvert-int
test/dataconvert-double
test/dataconvert-string
test/dataconvert-datetime
test/dataconvert-decimal
test/dataconvert-null
test/bad-usage
test/truncation
test/summary
test/system-catalog
test/char4
test/mcol1160
test/mcol1408
version.h
docs/conf.py
docs/sources.cmake
docs/_doctrees/
docs/_sources/
docs/_pdfsources/
docs/html/
docs/pdf/
libmcsapi.pc
cmake_uninstall.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
mariadb-*.rpm
mariadb-*.deb
java/.gradle/
java/build/
java/javamcsapiJAVA_wrap.cxx
java/src/main/
!java/src/main/java/com/mariadb/columnstore/api/ColumnStoreException.java
python/pybind11/
build/
java/libjavamcsapi.so*
docs/example

# QtCreator files
*.config
*.creator
*.creator.user
*.files
*.includes
# Ignore diffs
*.diff
